services:
  api:
    build: ./api
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: development
    volumes:
      - ./api:/usr/src/app

  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://api:8080
      WATCHPACK_POLLING: 1  # Enable file watching in containers
    volumes:
      - /app/node_modules
    depends_on:
      - api
