.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chart-container {
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}
